* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  line-height: 1.6rem;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ff553e;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar a:hover {
  color: #ff553e !important;
}

.navbar {
  padding: 15px 15px !important;
}
.navbar a {
  font-weight: 500 !important;
}

.nav-item .nav-link {
  padding: 0.5rem 1rem !important;
}

.showcase {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3) url(../images/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  background-blend-mode: darken;
}

.showcase button {
  background: transparent;
  outline: none;
  border: 2px solid #f1f1f1;
}

.showcase button:hover {
  color: #222 !important;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #f1f1f1;
  outline: none;
}

.about_me {
  background: rgba(0, 0, 0, 0.3) url(../images/aboutme2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.about_me button {
  background: transparent;
  border: 2px solid #f1f1f1;
  outline: none;
}

.about_me button:hover {
  color: #222 !important;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #f1f1f1;
  outline: none;
}

.services {
  background: rgba(0, 0, 0, 0.4) url(../images/services2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.projects {
  background: rgba(0, 0, 0, 0.6) url(../images/pb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

#My-projectS img {
  transition: 0.5s ease-out 0s;

  box-sizing: border-box;
  cursor: pointer;
}

#My-projectS img:hover {
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.testimonials {
  position: relative;
  padding: 0;

  background: rgba(0, 0, 0, 0.9) url(../images/testi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #333; */
  padding-bottom: 40px;
  background-blend-mode: darken;
}

.testimonials button:hover {
  color: black !important;
}

.testimonials__card {
  background-color: white;
  padding: 2rem 1.25rem;
  border-radius: 0.625rem;
  height: auto;
  text-align: center;
}

.testimonials__picture {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonials__picture img {
  border: 1px solid white;
}

.testimonials__name {
  padding: 6px 0;
  text-align: center;

  color: white;
}

.contact {
  background: rgba(0, 0, 0, 0.3) url(../images/contact2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.sbtn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  margin: 3px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.sbtn svg {
  margin-top: 15px;
  /* font-size: 26px; */
  transition: 0.2s linear;
}

.sbtn:hover svg {
  transform: scale(1.3);
  color: #f1f1f1;
}

.sbtn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.sbtn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}

.offcanvas-header {
  background-color: #ff553e;
}

 .first_anime{
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes content {
    0% {
      left: -1000px;
    }
    100% {
      left: 0;
    }
  } 
  .second_anime{
    position: relative ;
    animation-name: contents;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes contents {
    0% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  } 
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.first {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.125em;
}

.second {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.125em;
  color: #ff553e !important;
}

.video {
  background: rgba(0, 0, 0, 0.6) url(../images/2about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed !important;
}
